<h1 class="inheaderh1">Flag Reviews</h1>
<p class="inheaderp">Check the status of your flags or review them</p>

<ul class="accordion">
  <li *ngFor="let flag of allFlags">
    <label
      [for]="'accordion-' + flag.id"
      [ngClass]="getThreatClass(flag.threat)"
    >
      <b>{{ flag.description }}</b>
      <p
        *ngIf="flag.formattedTimestamp"
        style="font-size: 0.8em; margin-left: 5px"
      >
        (Reported: {{ flag.formattedTimestamp }})
      </p>
    </label>
    <input type="checkbox" [id]="'accordion-' + flag.id" />
    <div class="accordion-content">
      <table>
        <tbody>
          <tr>
            <td><b>Badge Colour:</b></td>
            <td>{{ flag.badgecolour }}</td>
          </tr>
          <tr>
            <td><b>Description:</b></td>
            <td>{{ flag.description }}</td>
          </tr>
          <tr>
            <td><b>Location:</b></td>
            <td>{{ flag.location }}</td>
          </tr>
          <tr>
            <td><b>Additional Information:</b></td>
            <td>{{ flag.additional }}</td>
          </tr>
          <tr>
            <td><b>Reported By:</b></td>
            <td>
              {{
                flag.reportedBy === "Anonymous" ? "Anonymous" : flag.reportedBy
              }}
            </td>
          </tr>
          <tr *ngIf="flag.formattedTimestamp">
            <td><b>Time Reported:</b></td>
            <td>{{ flag.formattedTimestamp }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
  <p *ngIf="allFlags.length === 0">No Pending Raised Flags Found</p>
</ul>
