<app-main-header></app-main-header>
<div class="headings">
  <h1>WELCOME</h1>
</div>
<div class="box">
  <div>
    <h3>Select User Type</h3>
  </div>
  <div class="main-container">
    <button routerLink="/visitor-signin">
      <h2><i class="fa-solid fa-id-card-clip"></i></h2>
      Visitor
      <hr />
      <p>
        <b><i>I am a guest</i></b>
      </p>
    </button>
    <button routerLink="/staff-signin">
      <h2><i class="fa-solid fa-id-card"></i></h2>
      Staff
      <hr />
      <p>
        <b><i>I work here</i></b>
      </p>
    </button>
    <button routerLink="/security-signin">
      <h2><i class="fa-solid fa-person-military-rifle"></i></h2>
      Security
      <hr />
      <p>
        <b><i>I protect you</i></b>
      </p>
    </button>
    <button routerLink="/admin-signin">
      <h2><i class="fa-solid fa-id-badge"></i></h2>
      Administrator
      <hr />
      <p>
        <b><i>I manage you</i></b>
      </p>
    </button>
  </div>
</div>
