.guests-drop,
.flags-drop,
.alerts-drop {
  position: relative;
  margin: 26px auto;
  padding: 0px;
  box-sizing: border-box;
}

.guests-drop button,
.flags-drop button,
.alerts-drop button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  color: inherit;
  text-align: left;
  background-color: transparent;
}

.guests-drop button:hover,
.flags-drop button:hover,
.alerts-drop button:hover {
  background-color: var(--background-color);
  color: #333333;
  border-radius: 10px;
}
