<app-staff-header></app-staff-header>
<div class="page-container">
  <app-staff-sidebar></app-staff-sidebar>
  <div class="dash-main-container">
    <div class="mini-header" *ngIf="authserv.user() as user">
      <h4><i class="fa-solid fa-user"></i> {{ user.displayName }}</h4>
    </div>
    <div class="status">
      <div class="act-visits">
        <h3><i class="fa-solid fa-walking"></i> <br />My<br />Active Visits</h3>
        <h2>{{ ActiveVisitsCount }}</h2>
      </div>
      <div class="pen-visits">
        <h3>
          <i class="fa-regular fa-clock"></i> <br />Pending Visit
          <br />Acknowledgements
        </h3>
        <h2>{{ PendingVACount }}</h2>
      </div>
      <div class="pen-flags">
        <h3><i class="fa-solid fa-flag"></i> <br />My<br />Pending Flags</h3>
        <h2>{{ RaisedFlagsCount }}</h2>
      </div>
      <div class="unr-alerts">
        <h3><i class="fa-solid fa-bell"></i> <br />My<br />Unread Alerts</h3>
        <h2>0</h2>
      </div>
    </div>
    <div class="bottom">
      <div class="quick-actions">
        <h4 style="margin-bottom: 0%">
          <i class="fa-solid fa-bolt"></i> Quick Actions
        </h4>
        <div class="buttons">
          <button>
            <h2><i class="fa-solid fa-users"></i></h2>
            <h4>Guest <br />List</h4>
          </button>
          <button>
            <h2><i class="fa-solid fa-check-double"></i></h2>
            <h4>Acknowledge <br />Visits</h4>
          </button>
          <button>
            <h2><i class="fa-solid fa-paper-plane"></i></h2>
            <h4>Send <br />Alert</h4>
          </button>
          <button routerLink="/staff-flag">
            <h2><i class="fa-solid fa-flag"></i></h2>
            <h4>Raise <br />Flag</h4>
          </button>
        </div>
      </div>
      <div class="check-in-dist">
        <h4 style="margin-bottom: 0%">
          <i class="fa-solid fa-chart-pie"></i> Check-In Distrubution
        </h4>
      </div>
      <div class="rec-act-ale">
        <h4 style="margin-bottom: 0%">
          <i class="fa-solid fa-list-alt"></i> Recent Activities and Alerts
        </h4>
      </div>
    </div>
  </div>
</div>
