.main-container {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 90%;
  text-align: center;
  box-sizing: border-box;
}

.group {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

form {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 20px auto;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

label {
  margin-bottom: 15px;
  position: relative;
  border-bottom: 1px solid #1a5276;
  width: 100%;
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 12px 0;
  margin-top: 20px;
  border: none;
  outline: none;
  background-color: var(--background-color);
  box-sizing: border-box;
}
select {
  width: 100%;
  padding: 0px;
  margin-top: 20px;
  border: none;
  outline: none;
  background-color: var(--background-color);
  box-sizing: border-box;
  cursor: pointer;
}

input::placeholder {
  opacity: 0;
}

span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(30px);
  font-size: 0.825em;
  transition-duration: 300ms;
}

label:focus-within > span,
input:not(:placeholder-shown) + span {
  color: #1a5276;
  transform: translateY(0px);
}

button {
  padding: 15px 0;
  margin-top: 0px;
  background: #1a5276;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  width: 25%;
}

button:hover {
  background-color: #008080;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

select {
  font-size: 16px;
  border: none;
  border-radius: 3px;
  color: #333333;
  border-bottom: 1px #1a5276 solid;
}

select:focus {
  outline: none;
  border-color: #1a5276;
  box-shadow: 0 0 5px #1a5276;
}

select option {
  padding: 8px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .group {
    flex-direction: column;
    gap: 10px;
  }

  .main-container,
  form {
    width: 95%;
    padding: 15px;
  }

  button {
    width: 50%;
  }
}
