<div class="inheader">
  <h1 class="inheaderh1">Alerts</h1>
  <p class="inheaderp">View all notifications and announcements</p>
</div>

<div class="alerts-containers">
  <div class="all-alerts-display">
    <div *ngIf="loading" style="padding: 10px; text-align: center">
      Loading Alerts...
    </div>
    <div *ngIf="error" style="padding: 10px; color: red; text-align: center">
      Error: {{ error }}
    </div>
    <div
      *ngIf="!loading && !error && displayedAlerts.length === 0"
      style="padding: 10px; text-align: center; color: #888"
    >
      No alerts found.
    </div>

    <div
      *ngFor="let alert of displayedAlerts"
      class="alert-item"
      [class.unread]="!alert.read"
    >
      <div class="alert-content">
        <ng-container [ngSwitch]="alert.alertType">
          <i *ngSwitchCase="'Medical'" class="fas fa-stethoscope"></i>
          <i *ngSwitchCase="'Security'" class="fas fa-handcuffs"></i>
          <i *ngSwitchCase="'Hazard'" class="fas fa-skull-crossbones"></i>
          <i *ngSwitchCase="'Fire'" class="fas fa-fire"></i>
          <i *ngSwitchCase="'LockDown'" class="fas fa-lock"></i>
          <i *ngSwitchCase="'Notice'" class="fas fa-bullhorn"></i>
          <i *ngSwitchCase="'Targeted'" class="fas fa-bullseye"></i>
          <i *ngSwitchCase="'Flag Alert'" class="fas fa-flag"></i>
          <i *ngSwitchCase="'Check-in'" class="fas fa-user-check"></i>
          <i *ngSwitchCase="'Check-out'" class="fas fa-user-minus"></i>
          <i *ngSwitchDefault class="fas fa-flag"></i>
        </ng-container>

        <p class="alert-text">
          <ng-container [ngSwitch]="alert.alertCollection">
            <ng-container *ngSwitchCase="'flagalerts'">
              <strong
                >{{ alert.sender || "Unknown Sender" }}
                <ng-container *ngIf="alert.senderRole"
                  >({{ alert.senderRole }})</ng-container
                ></strong
              >
              has raised a flag ({{ alert.time }})
            </ng-container>

            <ng-container *ngSwitchCase="'checkinalerts'">
              <strong>{{ alert.sender || "Unknown Name" }}</strong>
              has checked in at ({{ alert.time }})
            </ng-container>

            <ng-container *ngSwitchCase="'checkoutalerts'">
              <strong>{{ alert.sender || "Unknown Name" }}</strong>
              has checked out at ({{ alert.time }})
            </ng-container>

            <ng-container *ngSwitchDefault>
              <strong
                >{{ alert.sender }}
                <ng-container *ngIf="alert.senderRole"
                  >({{ alert.senderRole }})</ng-container
                ></strong
              >
              <ng-container [ngSwitch]="alert.alertType">
                <ng-container *ngSwitchCase="'Medical'">
                  is requesting medical assistance</ng-container
                >
                <ng-container *ngSwitchCase="'Security'">
                  is requesting security's assistance</ng-container
                >
                <ng-container *ngSwitchCase="'Hazard'">
                  is requesting assistance for a hazard</ng-container
                >
                <ng-container *ngSwitchCase="'Fire'">
                  has raised a fire alert</ng-container
                >
                <ng-container *ngSwitchCase="'LockDown'">
                  has issued a lockdown alert</ng-container
                >
                <ng-container *ngSwitchCase="'Notice'">
                  has issued a public notice</ng-container
                >
                <ng-container *ngSwitchCase="'Targeted'">
                  has issued a targeted alert</ng-container
                >
                <ng-container *ngSwitchDefault> has sent an alert</ng-container>
              </ng-container>
              ({{ alert.time }})
            </ng-container>
          </ng-container>
        </p>
      </div>
      <button
        *ngIf="
          alert.alertType === 'Notice' || alert.deliveryMethod === 'targeted'
        "
        (click)="viewFullAlert(alert)"
        class="view-button"
      >
        <i class="fas fa-book"></i>
      </button>
      <button
        (click)="markAlertAsRead(alert)"
        class="mark-read-button"
        [class.read-button]="alert.read"
        [disabled]="alert.read"
      >
        <i *ngIf="!alert.read" class="fa-solid fa-envelope-open"></i>
        <i *ngIf="alert.read" class="fa-solid fa-envelope"></i>
      </button>
    </div>
  </div>
</div>
