<app-staff-header></app-staff-header>
<div class="page-container">
  <app-visitor-sidebar></app-visitor-sidebar>

  <div class="main-container">
    <h1 class="headerh1" style="margin-top: 0%">Flags</h1>
    <p class="headerp" style="margin-bottom: 0px">
      View all and manage raised flags
    </p>
    <div class="buttons">
      <div class="high-butt">
        <button (click)="toggleHigh()" [class.active]="activeButton === 'high'">
          <i
            class="fa-solid fa-skull-crossbones"
            style="color: var(--error-color)"
          ></i>
          High
        </button>
      </div>
      <div class="medium-butt">
        <button
          (click)="toggleMedium()"
          [class.active]="activeButton === 'medium'"
        >
          <i
            class="fa-solid fa-triangle-exclamation"
            style="color: var(--warning-color)"
          ></i>
          Medium
        </button>
      </div>
      <div class="low-butt">
        <button (click)="toggleLow()" [class.active]="activeButton === 'low'">
          <i
            class="fa-solid fa-check-circle"
            style="color: var(--success-color)"
          ></i>
          Low
        </button>
      </div>
    </div>
    <div class="alerts-containers">
      <div class="high-alerts" *ngIf="isVisibleHigh">
        No High Threat Flags Raised
      </div>
      <div class="medium-alerts" *ngIf="isVisibleMedium"></div>
      <div class="low-alerts" *ngIf="isVisibleLow"></div>
    </div>
  </div>
</div>
