<app-main-header></app-main-header>
<h1 class="headerh1">Visitor Sign-In</h1>
<p class="headerp">Sign in to access your account</p>
<div class="main-container">
  <form (ngSubmit)="onSubmit()" ngForm>
    <label for="email">
      <input
        type="email"
        name="email"
        [(ngModel)]="userData.email"
        id="email"
        placeholder="Email"
        required
      />
      <span>Email Address</span>
    </label>
    <label for="password">
      <input
        type="password"
        name="password"
        [(ngModel)]="userData.password"
        id="password"
        placeholder="Password"
        required
      />
      <span>Password</span>
    </label>
    <a routerLink="/reset-password" class="forgot-pass">Forgot Password</a>
    <button class="login" type="submit">Sign-In</button>
    <p style="font-size: 16px; text-align: center; margin-top: 13px">
      Or Sign-In with your Social Accounts
    </p>
    <div class="social-logins">
      <button class="google-sign-in">
        <h2><i class="fab fa-google"></i></h2>
      </button>
      <button class="github-sign-in">
        <h2><i class="fa-brands fa-github"></i></h2>
      </button>
      <button class="facebook-sign-in" (click)="signInWithFacebook()">
        <h2><i class="fa-brands fa-facebook"></i></h2>
      </button>
      <button class="x-sign-in">
        <h2><i class="fa-brands fa-x-twitter"></i></h2>
      </button>
    </div>
  </form>
  <form class="visitor">
    <h2><i class="fa-solid fa-id-card-clip"></i></h2>
    <h3>New here?</h3>
    <p>Create an account to get started</p>
    <button routerLink="/visitor-signup">Create Account</button>
  </form>
</div>
