<app-admin-header></app-admin-header>
<div class="page-container">
  <app-admin-sidebar></app-admin-sidebar>
  <div class="dash-main-container">
    <div class="mini-header">
      <h3><i class="fa-solid fa-user"></i> Keith Tsikai</h3>
    </div>
    <div class="status">
      <div class="act-visits">
        <h3><i class="fa-solid fa-walking"></i> Active Visits</h3>
        <h2>0</h2>
      </div>
      <div class="pen-visits">
        <h3>
          <i class="fa-regular fa-clock"></i> Pending <br />Visit
          <br />Acknowledgements
        </h3>
        <h2>0</h2>
      </div>
      <div class="pen-flags">
        <h3><i class="fa-solid fa-flag"></i> Raised Flags</h3>
        <h2>0</h2>
      </div>
      <div class="check-staff">
        <h3><i class="fa-solid fa-check-circle"></i> Checked-In <br />Staff</h3>
        <h2>{{ staffCheckedInCount }}</h2>
      </div>
      <div class="unr-alerts">
        <h3><i class="fa-solid fa-bell"></i> Unread Alerts</h3>
        <h2>0</h2>
      </div>
    </div>
    <div class="bottom">
      <div class="quick-actions">
        <h4 style="margin-bottom: 0%; margin-top: 0%">
          <i class="fa-solid fa-bolt"></i> Quick Actions
        </h4>
        <div class="buttons">
          <button>
            <h4>
              <i class="fa-solid fa-users"></i><br />
              Guest List
            </h4>
          </button>
          <button>
            <h4>
              <i class="fa-solid fa-check-double"></i><br />
              Acknowledge
            </h4>
          </button>
          <button>
            <h4>
              <i class="fa-solid fa-paper-plane"></i><br />
              Send Alert
            </h4>
          </button>
          <button>
            <h4>
              <i class="fa-solid fa-flag"></i><br />
              Raise Flag
            </h4>
          </button>
          <button routerLink="/users">
            <h4>
              <i class="fa-solid fa-user-gear"></i><br />
              Manage Users
            </h4>
          </button>
          <button>
            <h4>
              <i class="fa-solid fa-bell"></i><br />
              Manage Alerts
            </h4>
          </button>
          <button>
            <h4>
              <i class="fa-solid fa-id-card"></i><br />
              Manage Visitors
            </h4>
          </button>
          <button>
            <h4>
              <i class="fa-solid fa-ban"></i><br />
              Blacklist
            </h4>
          </button>
        </div>
      </div>
      <div class="rec-act-ale">
        <h4 style="margin-bottom: 0%; margin-top: 0%">
          <i class="fa-solid fa-list-alt"></i> Recent Activities and Alerts
        </h4>
      </div>
    </div>
  </div>
</div>
