.buttons {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin: 13px auto;
  padding: 0 10px;
  box-sizing: border-box;
  gap: 26px;
}

.emergency-butt,
.general-butt,
.targeted-butt {
  flex-grow: 1;
  display: flex;
  border-radius: 10px;
  padding: 0px;
  box-sizing: border-box;
}

.buttons button {
  width: 100%;
  font-size: 17px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;

  background-color: #ffffff;
  color: #333333;
  font-weight: bold;
  border: none;
  border: var(--primary-color) 2px solid;
}

.buttons button:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

.buttons button.active {
  background-color: #333333;
  color: #ffffff;
  font-weight: bold;
  border: none;
}

.alerts-containers {
  width: 98%;
  display: flex;
  height: 452px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  max-height: fit-content;
}

.emergency-alerts,
.general-alerts,
.targeted-alerts {
  width: 100%;
  border: 2px solid #333333;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  color: #333;
}

@media (max-width: 720px) {
  .buttons {
    flex-direction: column;
    display: flex;
    gap: 8px;
  }
}
