<app-security-header></app-security-header>
<div class="dash-main-container">
  <h1 class="headerh1">Check-In</h1>
  <p class="headerp">Please Select User Type Below</p>
  <div class="container">
    <div class="facial-scanning">
      <i class="fa-solid fa-id-card-clip"></i>
      <button routerLink="/visitor-checkin">Visitor</button>
    </div>
    <div class="qr-scanning">
      <i class="fa-solid fa-id-card"></i>
      <button routerLink="/qr-checkin">Staff</button>
    </div>
  </div>
</div>
