<app-main-header></app-main-header>
<h1 class="headerh1">Visitor Sign-Up</h1>
<p class="headerp">Sign up and be one of us</p>
<div class="main-container">
  <form (ngSubmit)="onSubmit()" ngForm>
    <label for="name" >
      <input
        type="text"
        id="name"
        [(ngModel)] ="userData.username"
        placeholder="Name"
        name="name"
        required
      />
      <span>Full Name</span>
    </label>
    <label for="email" >
      <input
        type="email"
        id="email"
        [(ngModel)] ="userData.email"
        placeholder="Email"
        name="email"
        required
      />
      <span>Email Address</span>
    </label>
    <label for="password" >
      <input
        type="password"
        id="password"
        [(ngModel)] ="userData.password"
        placeholder="Password"
        name="password"
        required
      />
      <span>Password</span>
    </label>
    <label for="confirmPassword" >
      <input
        type="password"
        id="confirmPassword"
        [(ngModel)] ="userData.confirmpassword"
        placeholder="Confirm Password"
        name="confirmPassword"
        required
      />
      <span>Confirm Password</span>
    </label>
    <button type="submit">Sign-Up</button>
  </form>
  <form class="visitor">
    <h2><i class="fa-solid fa-image-portrait"></i></h2>
    <h3>Already a member?</h3>
    <p>Sign in to continue</p>
    <button routerLink="/visitor-signin">Sign-In</button>
  </form>
  <style>
    /* Add some basic styling for the error message */
    .error-message {
      color: red;
      font-size: 0.8em;
      margin-top: 5px;
    }
  </style>
</div>